<section class='instructions'>
  <p>Click on the dice you want to roll</p>
  <p>Re-rolls remaining this turn: {{remainingRolls}} </p>
</section>

<section class='dice'>
  {{#each itemController='index/die'}}
    <article {{bind-attr class=':die textValue isSelected'}} {{action "toggleSelected"}}>
    </article>
  {{/each}}
</section>

<section class='action-buttons'>
  <button {{ action 'roll' }} {{bindAttr disabled="anyReRolls"}}>Roll</button>
  <button>End Turn</button>
</section>

